{{define "head.html"}}
<!DOCTYPE html>
<html>


<head>
    <title>tobab</title>
    <script src="/static/base64url.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/main.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <script src="/static/main.js" defer></script>
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/" class="contrast"><strong>tobab</strong></a>
            </li>
        </ul>
        {{if eq .State "authenticated"}}
        {{if .User.Admin}}
        <ul>
            <li>
                <a href="/admin/index.html" class="contrast">admin</strong></a>
            </li>
        </ul>
        {{end}}
        {{end}}
        <ul>
            <li>
                {{if eq .State "authenticated"}}
                <a href="/signout" class="contrast">
                    logout
                </a>
                {{else}}
                <a href="/register" class="contrast">
                    register
                </a>
                {{end}}
            </li>
        </ul>
    </nav>


    {{end}}
