{{define "head.html"}}
<!DOCTYPE html>
<html>


<head>
    <title>tobab</title>
    <script src="/static/base64url.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/main.css" rel="stylesheet">
    <script src="/static/main.js" defer></script>
</head>

<body>

    <nav class="flex items-center justify-between flex-wrap bg-indigo-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/" class="font-semibold text-xl tracking-tight">tobab</a>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-right lg:w-auto">
            <div class="text-sm lg:flex-grow">
            </div>
            <div>
                {{if eq .State "authenticated"}}
                <a href="/signout"
                    class="mt-4 inline-block rounded border border-white px-4 py-2 text-sm leading-none text-white hover:border-transparent hover:bg-white hover:text-teal-500 lg:mt-0">
                    logout
                </a>
                {{else}}
                <a href="/register"
                    class="mt-4 inline-block rounded border border-white px-4 py-2 text-sm leading-none text-white hover:border-transparent hover:bg-white hover:text-teal-500 lg:mt-0">
                    register
                </a>
                {{end}}
            </div>
        </div>
    </nav>

    {{end}}
