{{define "index.html"}}

{{template "head.html" .}}

<main class="container">
    <article class="grid">
        <div>
            <hgroup>
                {{if eq .State "authenticated"}}
                <h1>Hi {{.Username}}</h1>
                {{else}}
                <h1>Sign in with passkey</h1>
                {{end}}
            </hgroup>
            <div id="passkey">
                {{if ne .State "authenticated"}}
                <form>
                    <input type="text" id="username" placeholder="username" autofocus autocomplete="webauthn"
                        required />
                    <button type="submit" id="passkeyLogin">login</button>
                </form>
                {{end}}
            </div>
        </div>
        <div>
            <hgroup>
                <h2>Passkeys</h2>
            </hgroup>
            <p>Passkeys are a modern alternative to usernames and passwords <br>
            If you have a registered passkey for this site it will automatically suggest to use it if you select the username field.<br>
            To register as a new user, please register with the link at the top of the page.</p>
        </div>
    </article>
</main>


<dialog id="messages">
    <form>
        <div id="error-div">
        </div>
        <div>
            <button value="cancel" formmethod="dialog">ok</button>
        </div>
    </form>
</dialog>
</body>

</html>
{{end}}
