{{define "index.html"}}
<!DOCTYPE html>
<html>

<head>
    <title>tobab</title>
    <script src="/static/base64url.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/main.js" defer></script>
</head>

<body>
    <div class="flex-container">
        <div class="row">
            {{if eq .State "authenticated"}}
            <h1>Hi {{.Username}}</h1>
            <a href="/signout">signout</a>
            <div id="passkey"></div>
            {{else}}
                <label for="username">Username:</label><br>
                <input type="text" id="username" placeholder="username" required autofocus autocomplete="webauthn"></input><br>

                <button type="submit" id="passkeyLogin" value="login">login with passkey</button>

                <div id="passkey">
                </div>
                <a href="/register">register</a>
            
            
            {{end}}
        </div>
    </div>
<dialog id="messages">
<form>
    <div id="error-div">
    </div>
        <div>
      <button value="cancel" formmethod="dialog">ok</button>
    </div>
</form>
</dialog>
</body>

</html>
{{end}}
